extends _component/layout/layout
block config
  -
    let title =  `Roberto Blake Replica`
    let description = `This will be an iproved version of Roberto webiste`

block a-content
  include _component/mixin/link
  .header__wrapper
    h1 Entrepreneur, Author & Speaker
    .header__panel
      .header__body
      .header__footer
        h2 Download My Free E-book on Personal Branding!
        a.header__download(href="http://robertoblake.com/join-newsletter.php", title="Download Free Personal Branding Ebook") Download!
  .landing__content
    hr
    h2 MEET ROBERTO BLAKE
    br
    p Roberto Blake is a Creative Entrepreneur helping businesses, brands and individuals market themselves effectively with engaging visuals and effective messages.
    br
    p Roberto has over 10 years of experience commercially in #[strong design] and #[strong marketing] and has helped brands, both large and small achieve their goals and reach their audiences.
    br
    p His work has been recognized by #[+link('http://www.forbes.com/sites/markfidelman/2016/09/06/20-must-watch-youtube-channels-that-will-change-your-business/', 'Forbes', 'Forbes')], #[+link('http://www.huffingtonpost.com/tayo-rockson/disrupting-creative-servi_b_9154918.html', 'Huffington Post', 'Huffington Post')], #[+link('https://blogs.adobe.com/creativecloud/tag/roberto-blake/', 'Adobe', 'Adobe')] and #[+link('http://www.photoshopcreative.co.uk/image/47806/feel_the_noise', 'Photoshop Creative Magazines', 'Photoshop Creative Magazines')].
    p He is a #[strong HOW Design Live Speaker] and contributor to several publications.
    hr

    .youtube-video-16-by-9
      iframe(
        width="100%"
        height="100%"
        src="http://youtube.com/embed/14xWRBRtIh8"
        frameborder="0"
        allow="autoplay; encrypted-media"
        allowfullscreen
      )

    hr